/*Fonts style classes------------------------------------------------*/

.exo-reg { font-family: 'exo-two-regular';}
.exo-medium { font-family: 'exo_2.0medium';}
.exo-light { font-family: 'exo_2.0light'; }
.exo-extralight { font-family: 'exo_2.0extra_light'; }
.exo-bold { font-family: 'exo_2.0bold'; }
.exo-extrabold { font-family: 'exo_2.0extra_bold'; }
.exo-semibold { font-family: 'exo_2.0semi_bold'; }
 
 /*Typografics---------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 { font-size: 44px !important; }
h2 { font-size: 36px !important; }

h3 { font-size: 31px !important; }

h4 { font-size: 22px !important; }

h5 { font-size: 20px !important; }

h6 { font-size: 14px !important; }
@media (max-width: 767px){
	h1{
		font-size: 30px !important;
	}
	h2{
		font-size: 25px !important;
	}
}

.md { font-size: 18px; }

.white{
	color: #fff;
}

p { margin: 0;}

a { text-decoration: underline; }
a:hover, a:focus { text-decoration: none; outline: none; }

.btn { padding: 6px 15px; }

.btn:focus, .btn:active, button:focus, button:active { outline: none; }


/*General styles*/
body{
	font-family: 'open_sansregular';
}
@media (min-width: 940px) { body { overflow-x: hidden; } }
@media (min-width: 1350px) { 
	.container { width: 1332px !important; }
}

/*form styles*/
.form-block{
	width: 275px;
}
.form-custom input{
	height: 36px;
	color: #fff;
	font-size: 20px;
	background: transparent;
	border: none;
	box-shadow: none;
	border-radius: 0;
	width: 200px;
	padding: 0 0 10px 0;
}
.form-custom .input-field{
	border-bottom: 1px solid #fff;
	margin-bottom: 23px;
	text-align: center;
}
.form-custom .input-field:nth-child(1):before{
	display: inline-block;
	content: url('../img/base/my-name.png');
	width: 60px;
	margin-left: -25px;
	vertical-align: bottom;
}
.form-custom .input-field:nth-child(2):before{
	display: inline-block;
	content: url('../img/base/my-email.png');
	width: 60px;
	margin-left: -25px;
	vertical-align: bottom;
}
.form-custom .input-field:nth-child(3):before{
	display: inline-block;
	content: url('../img/base/my-phone.png');
	width: 60px;
	margin-left: -25px;
	vertical-align: bottom;
}
.form-custom .input-field img{
	margin-right: 15px;
	margin-top: 10px;
}
.form-custom input:focus{
	outline: none;
}
.form-custom .placeholder{
	color: #fff;
}
.form-custom input::-webkit-input-placeholder {
	color: white;
	font-family: 'exo-two-regular';
	font-size: 20px;
}
.form-custom input::-moz-placeholder{
	color: white;
	font-family: 'exo-two-regular';
	font-size: 20px;
}
.form-custom input:-moz-placeholder{
	color: white;
	font-family: 'exo-two-regular';
	font-size: 20px;
}
.form-custom input:-ms-input-placeholder{
	color: white;
	font-family: 'exo-two-regular';
	font-size: 20px;
	line-height: 30px;
}
.form-custom input:focus::-webkit-input-placeholder{
	color: transparent;
	-webkit-transition: all 0.7s ease-out 0.5s;
	-moz-transition: all 0.7s ease-out 0.5s;
	-o-transition: all 0.7s ease-out 0.5s;
	transition: all 0.7s ease-out 0.5s;
}
.form-custom input:focus::-moz-placeholder{
	color: transparent;
	-webkit-transition: all 0.7s ease-out 0.5s;
	-moz-transition: all 0.7s ease-out 0.5s;
	-o-transition: all 0.7s ease-out 0.5s;
	transition: all 0.7s ease-out 0.5s;
}
.form-custom input:focus:-moz-placeholder{
	color: transparent;
	-webkit-transition: all 0.7s ease-out 0.5s;
	-moz-transition: all 0.7s ease-out 0.5s;
	-o-transition: all 0.7s ease-out 0.5s;
	transition: all 0.7s ease-out 0.5s;
}
.form-custom input:focus:-ms-input-placeholder{
	color: transparent;
	-webkit-transition: all 0.7s ease-out 0.5s;
	-moz-transition: all 0.7s ease-out 0.5s;
	-o-transition: all 0.7s ease-out 0.5s;
	transition: all 0.7s ease-out 0.5s;
}
.form-custom button.btn{
	background: #fff !important;
	color: #2f174f !important;
	white-space: pre-line;
	margin-top: 34px;
	padding: 5px 25px;
	line-height: 16px;
}

.modal .modal-dialog{
	margin: 50px auto;
	margin-top: calc((100vh - 442px)/2);
}
.modal .modal-content{
	background-color: #575671;
}
.modal .modal-content .modal-header{
	border-bottom: none;
}
.modal .modal-content .modal-header h3{
	margin-top: 20px;
}
.modal .modal-content .modal-header .close{
	color: #fff;
	opacity: 0.8;
}
.modal .modal-content .modal-footer{
	border-top: none;
	margin-top: 0;
}
.modal .modal-content .modal-footer button{
	margin-top: 0;
}
.modal-content .form-block{
	margin: 0 auto;
}
/*hover effect for img*/
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	/*background: #3085a3;*/
	text-align: center;
	cursor: pointer;
}
.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.9;
}
/*---------------*/
/***** Julia *****/
/*---------------*/
figure.effect-julia {
	background: #2f3238;
}

figure.effect-julia img {
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-julia:hover img {
	opacity: 1;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

/*Content styles---------------------------------------------------------*/

/*Header*/

.header {
	position: relative;
	background-color: #575671;
}
.header-content{
	position: absolute;
	width: 100%;
	padding: 60px 0;
	top: 0;
	left: 0;
}
.header .header-left{
	position: relative;
}
.header-left .bg-lines{
	position: absolute;
	transform: rotate(-45deg);
}
.header-left .bg-lines.line-1{
	width: 35px;
	border-top: 5px solid #8961b5;
}
.header-left .bg-lines.line-2{
	width: 175px;
	border-top: 2px solid #6a7bb9;
}
.header-left .bg-lines.line-3{
	width: 50px;
	border-top: 2px solid #285a97;
}
.header-left .bg-lines.line-4{
	width: 25px;
	border-top: 4px solid #5fa1dc;
}
.header-left .bg-lines.line-5{
	width: 150px;
	border-top: 2px solid #845ead;
}
.header-left .bg-lines.line-6{
	width: 25px;
	border-top: 4px solid #aa90ca;
}
.header-left .menu-sign{
		margin-right: 15px;
	}
.header-left .menu-sign:before{
	width: 47px;
	height: 17px;
	border-top: 4px solid #fff;
	border-bottom: 2px solid  #fff;
	content: '';
	display: block;
}
.header-left .menu-sign:after{
	width: 47px;
	height: 17px;
	border-top: 2px solid #fff;
	border-bottom: 4px solid  #fff;
	content: '';
	display: block;
}
.header-left .menu{
	border: 1px solid #fff;
	padding: 0 27px 4px;
	display: inline-block;
	margin-bottom: 68px;
}
.header-left .menu a{
	color: #fff;
	font-size: 20px;
}
.header-left .logo img{
	margin-bottom: 50px;
}
.header-left .video-frame{
	display: block;
	margin: 0 auto;
	width: 100%;
	position: relative;
	z-index: 1;
}
.header-left .services{
	margin-top: 140px;
	color: #fff;
	line-height: 25px;
}
.header-left .services .img-wrap{
	height: 65px;
	margin-bottom: 15px;
}
.header-left .services .img-wrap img{
	vertical-align: bottom;
}
.header-right{
	color: #fff;
	text-align: center;
}
.header-right .contacts{
	margin-bottom: 74px;
}
.header-right .contacts .logotip-wrap{
	position: relative;
	float: left;
	margin-right: 10px;
	margin-top: -6px;
	padding-right: 10px
}
.header-right .contacts .logotip-rhombus{
	width: 35px;
	height: 35px;
	background: #333;
	border: 2px solid #000;
	opacity: 0.3;
	transform: rotate(45deg);
}
.header-right .contacts .s-links a{
	display: inline-block
}
.header-right .contacts .s-links a:hover .logotip-rhombus{
	opacity: 0.5;
}
.header-right .contacts .logotip-wrap span{
	position: absolute;
	font-family: 'exo_2.0black';
	color: #fff;
	top: 6px;
	left: 12px;
	text-transform: uppercase;
	font-size: 16px;
}
.header-right .contacts h5{
	margin-top: 34px;
}
.header-right .contacts a.mail-to{
	color: #fff;
	font-size: 21px;
	text-decoration: underline;
	display: inline-block;
}
.header-right .contacts a.mail-to:hover{
	text-decoration: none;
}
.header-right .main-title{
	margin-bottom: 65px;
}
.header-right .main-title span{
	background: #fff;
	padding: 1px 8px 10px;
	margin-bottom: 5px;
	display: inline-block;
	letter-spacing: 1px;
	color: #2f174f;
	line-height: 32px;
}
.header-right .form-custom{
	width: 260px;
}
.header-right .form-block p{
	line-height: 21px;
	margin-bottom: 15px;
}
@media (max-width: 1279px){
	.header-left .services{
		margin-bottom: 60px;
	}
	.header-left .services{
		margin-top: 50px;
	}
	.header-left .services p{
		margin: 0 auto;
		max-width: 400px;
		margin-bottom: 20px;
	}
	.header-right .form-block{
		margin: 0 auto;
	}
}
@media (max-width: 677px){
	.header .header-left iframe{
		width: 100%;
	}
}
@media (max-width: 479px){
	.header-left .bg-lines{
		display: none;
	}
	.header .header-left .menu{
		width: 100%;
		margin-top: 30px;
		margin-bottom: 0;
	}
	.header .header-left .menu li{
		display: block;
	}
	.header .header-left .logo{
		position: absolute;
		top: -45px;
	}
	.header .header-left .logo img{
		width: 250px;
	}
	.header .header-left iframe{
		display: none;
	}
	.header .header-right .main-title span{
		display: block;
		margin-bottom: 0;
	}
}
@media (min-width: 600px){
	.header-left .bg-lines.line-1{
		top: 210px;
		left: 10%;
	}
	.header-left .bg-lines.line-2{
		top: 235px;
		left: 30%;
	}
	.header-left .bg-lines.line-3{
		top: 230px;
		left: 85%;
	}
	.header-left .bg-lines.line-4{
		top: 615px;
		left: 5%;
	}
	.header-left .bg-lines.line-5{
		top: 615px;
		left: 30%;
	}
	.header-left .bg-lines.line-6{
		top: 630px;
		left: 90%;
	}
}
@media (min-width: 1024px){
	.header .header-left{
		width: 56%;
		float: left;
	}
	.header-left .bg-lines.line-1{
		top: 210px;
		left: 15%;
	}
	.header-left .bg-lines.line-2{
		top: 230px;
		left: 35%;
	}
	.header-left .bg-lines.line-3{
		top: 230px;
		left: 89%;
	}
	.header-left .bg-lines.line-4{
		bottom: 360px;
		left: 10%;
	}
	.header-left .bg-lines.line-5{
		bottom: 355px;
		left: 30%;
	}
	.header-left .bg-lines.line-6{
		bottom: 355px;
		left: 92%;
	}
	.header .header-right{
		width: 44%;
		text-align: left;
		float: right;
		padding-left: 47px;
	}
	.header .header-right h2{
		font-size: 30px !important;
	}
}
@media (min-width: 1280px){
	.header .header-left{
		width: 60%;
	}
	.header-left .bg-lines.line-1{
		top: 270px;
		left: 23%;
	}
	.header-left .bg-lines.line-2{
		top: 255px;
		left: 48%;
	}
	.header-left .bg-lines.line-3{
		top: 294px;
		left: 89%;
	}
	.header-left .bg-lines.line-4{
		top: 700px;
		left: 10%;
	}
	.header-left .bg-lines.line-5{
		top: 700px;
		left: 30%;
	}
	.header-left .bg-lines.line-6{
		top: 710px;
		left: 90%;
	}
	.header-left .menu-sign{
		margin-left: 102px;
	}
	.header-left .menu li+li{
		margin-left: 35px;
	}
	.header-left .logo img{
		margin-bottom: 120px;
		margin-left: 88px;
	}
	.header-left .video-frame{
		min-width: 600px;
	}
	.header .header-right{
		width: 40%;
	}
	.header .header-right h2{
		font-size: 36px !important;
	}
	.header-right .contacts{
		margin-left: 31%;
	}
}

/*Clients*/

.clients{
	position: relative;
}
.clients-content{
	color: #fff;
	position: absolute;
	width: 100%;
	padding: 33px 0;
	top: 0;
	left: 0;
}
.clients h2{
	letter-spacing: 2px;
	margin-bottom: 75px;
}
.clients .row-second img{
	margin-top: -10px;
}
.clients a{
	display: block;
}
.clients img{
		height: 75px;
	}
.clients .bg-lines{
	position: absolute;
	transform: rotate(-45deg);
}
.clients .bg-lines.line-1{
	width: 150px;
	border-top: 2px solid #fff;
	top: 52px;
	left: 20%;
}
.clients .bg-lines.line-2{
	width: 75px;
	border-top: 1px solid #fff;
	top: 26px;
	left: 40%;
}
.clients .bg-lines.line-3{
	width: 20px;
	border-top: 4px solid #fff;
	top: 50px;
	left: 80%;
}
.clients .bg-lines.line-4{
	top: 97%;
	left: 65%;
	left: 66%;
	width: 100px;
	border-top: 2px solid #fff;
}
@media (max-width: 767px){
	.clients img{
		margin-bottom: 30px;
	}
	.clients .bg-lines{
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 1349px){
	.clients .bg-lines.line-1{
		left: 5%;
	}
	.clients .bg-lines.line-4{
		left: 75%;
	}
}

/*Video-types*/

.video-types{
	background: url('../img/base/old_moon.png');
	padding: 40px 0 55px;
	position: relative;
}
.video-types .container{
	position: relative;
	z-index: 1;
}
.video-types .sep-line{
	background: url('../img/base/pattern-2.png');
	height: 7px;
	width: 100%;
	position: absolute;
	top: 25px;
}
.video-types .sep-line.line-bottom{
	top: 100%;
	margin-top: -25px;
}
.video-types h1{
	color: #8961b5;
}
.video-types .row{
	margin-bottom: 22px;
}
/*.video-types .video-link{
	display: block;
}*/
.video-types .v-type-wrap{
	width: 180px;
	height: 180px;
	position: relative;
	transform: rotate(-45deg);
	border: 1px solid #666;
	margin: 85px auto 67px auto;
	padding: 2px 0 0 2px;
}
.video-types .v-type-wrap figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	border: 1px solid #666;
}
.video-types .v-type-wrap figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.5;
}
.video-types .v-type-wrap figure:hover img{
	opacity: 1;
}
.video-types .v-type-wrap figure.effect-julia img.hovered {
	opacity: 1;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}
.video-types .v-type-wrap img{
	width: 180px;
	height: 180px;
}
.video-types .v-type-title{
	color: #fff;
	position: absolute;
	top: 135px;
	left: 7px;
	width: 100%;
	cursor: pointer;
}
.video-types .v-type-title h5{
	display: block;
	z-index: 1000;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}
.video-types .v-type-title span{
	width: 5px;
	height: 5px;
	margin-right: 5px;
	display: inline-block;
	background: #fff;
	transform: rotate(45deg);
}
.video-types p.md{
	line-height: 38px;
	margin-bottom: 5px;
}
.video-types .booking-link{
	color: #000;
	font-size: 37px;
	border-bottom: 2px solid #000
}
.video-types .booking-link:hover{
	border-bottom: 2px solid transparent;
	color: #555;
	text-decoration: none;
}
.lines img{
	position: absolute;
	z-index: 0;
}
.lines img:nth-child(1){
	top: 20%;
	left: 0;
}
.lines img:nth-child(2){
	left: 0;
	top: 50%;
}
.lines img:nth-child(3){
	left: 0;
	top: 80%;
}
.lines img:nth-child(4){
	right: 0;
	top: 30%;
}
.lines img:nth-child(5){
	right: 0;
	bottom: 10%;
}

/*Our-favourites*/
.our-favourites{
	position: relative;
}
.our-favourites-content{
	padding: 45px 0 40px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.our-favourites a{
	display: block;
}
.our-favourites .work-wrap{
	width: 260px;
	height: 260px;
	position: relative;
	transform: rotate(-45deg);
	display: inline-block;
	margin-top: 130px;
}
.our-favourites .work-wrap+.work-wrap{
	margin-left: 135px
}
.our-favourites .work-wrap img{
	width: 100%;
}
.our-favourites .work-wrap figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}
.our-favourites .work-wrap figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.5;
}
.our-favourites .work-wrap figure:hover img{
	opacity: 1;
}
/*.our-favourites .work-shadow{
	background: #777;
	opacity: 0.5;
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.our-favourites .work-shadow:hover {
	opacity: 0;
	transition: all 0.1s ease-out;
}*/
.our-favourites .more-link{
	color: #58d6fb;
	font-family: 'exo_2.0light_italic';
	border-bottom: 2px solid #58d6fb;
	font-size: 25px;
	display: inline-block;
	margin-top: 108px;
	line-height: 29px;
	text-decoration: none;
}
.our-favourites .more-link:hover{
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
@media (min-width: 1280px){
	.our-favourites .second-row, .our-favourites .third-row{
		margin-top: -190px;
	}
}
@media (max-width: 1279px){
	.our-favourites .first-row{
		margin-top: 150px;
	}
	.our-favourites .work-wrap+.work-wrap{
		margin-left: 100px
	}
	.our-favourites .work-wrap{
		margin-top: -47px;
		width: 200px;
		height: 200px;
	}
}
@media (max-width: 1023px){
	.our-favourites .first-row{
		margin-top: 130px;
	}
	.our-favourites .work-wrap{
		margin-top: -22px;
		width: 150px;
		height: 150px;
	}
}
@media (max-width: 767px){
	.our-favourites .work-wrap+.work-wrap{
		margin-left: 55px;
	}
	.our-favourites .work-wrap{
		margin-top: -19px;
		width: 100px;
		height: 100px;
	}
}
@media (max-width: 479px){
	.our-favourites .first-row{
		margin-top: 0;
	}
	.our-favourites .work-wrap+.work-wrap{
		margin-left: 0;
	}
	.our-favourites .work-wrap{
		margin-top: 90px;
		width: 100%;
		height: 100%;
	}
	.our-favourites .work-wrap img{
		width: 50%;
	}
	.our-favourites .work-wrap .work-shadow{
		width: 50%;
		left: 25%;
	}
}

/*Order-Instruction*/

.order-instr{
	background: url('../img/base/old_moon.png');
	padding: 50px 0;
}
.order-instr h1{
	margin-bottom: 100px;
}
.order-instr .instr p{
	width: 150px;
	font-size: 17px;
	display: block;
	text-align: center;
	margin: 13px auto;
}
.order-instr .instr span{
	color: #fff;
	display: inline-block;
	background: #2eb36b;
	border-radius: 50%;
	font-family: 'exo_2.0black';
	padding: 1px 6px;
	line-height: 16px;
	position: absolute;
	top: -6px;
	left: -28px;
}
.order-instr .line{
	border-bottom: 2px solid #555;
	width: 150px;
	position: absolute;
	top: 90px;
	left: 70%;
}
.order-instr .first-row .line:after{
	content: '';
	background: #2eb36b;
	border-radius: 50%;
	display: block;
	padding: 2px;
	margin-left: 101%;
	margin-bottom: -2px;
}
.order-instr .first-row{
	margin-bottom: 55px;
}
@media (min-width: 1024px){
	.order-instr .first-row .instr-wrap:nth-child(even){
		margin-top: 165px;
	}
}
@media (min-width: 1280px){
	.order-instr .first-row .instr-wrap:nth-child(odd) .line{
		transform: rotate(40deg);
	}
	.order-instr .first-row .instr-wrap:nth-child(odd) .line span{
		transform: rotate(-40deg);
	}
	.order-instr .first-row .instr-wrap:last-child span{
		top: 15px;
		left: 24%;
	}
	.order-instr .first-row .instr-wrap:nth-child(even) .line{
		transform: rotate(-40deg);
		left: 60%;
		top: -78px;
	}
	.order-instr .first-row .instr-wrap:nth-child(even) .line span{
		transform: rotate(40deg);
	}
	.order-instr .second-row .line{
		width: 255px;
		top: 30px;
		left: 82%;
	}
	.order-instr .second-row .instr-wrap:last-child span{
		top: 22px;
		left: 20%;
	}
	
}
@media (min-width: 1350px){
	.order-instr .second-row .line{
		width: 295px;
	}
}
@media (min-width: 1024px) and (max-width: 1279px){
	.order-instr .first-row .instr-wrap:nth-child(odd) .line{
		transform: rotate(50deg);
	}
	.order-instr .first-row .instr-wrap:nth-child(odd) .line span{
		transform: rotate(-50deg);
	}
	.order-instr .line {
		width: 135px;
		top: 92px;
		left: 105px;
	}
	.order-instr .first-row .instr-wrap:nth-child(even) .line {
		transform: rotate(-50deg);
		left: 85px;
		top: -85px;
	}
	.order-instr .first-row .instr-wrap:nth-child(even) .line span {
		transform: rotate(50deg);
	}
	.order-instr .first-row .instr-wrap:last-child span {
		top: 4px;
		left: 30px;
	}
	.order-instr .second-row .line {
		width: 190px;
		left: 145px;
		top: 27px;
	}
	.order-instr .second-row .instr-wrap:last-child span {
		left: 20px;
		top: 20px;
	}
}
@media (max-width: 1023px){
	.order-instr .first-row .line,
	.order-instr .second-row .line{
		width: 0;
		top: 10px !important;
		left: 145px;
	}
	.order-instr .first-row .line:after,
	.order-instr .second-row .line :after{
		display: none !important;
	}
	.order-instr .first-row .instr-wrap:last-child span,
	.order-instr .second-row .instr-wrap:last-child span{
		top: 10px;
		left: 125px;
	}
}
@media (max-width: 767px){
	.order-instr{
		padding: 25px 0;
	}
	.order-instr h1{
		margin-bottom: 50px;
	}
	.order-instr .first-row .line,
	.order-instr .second-row .line{
		left: 60px;
	}
	.order-instr .first-row .instr-wrap:last-child span,
	.order-instr .second-row .instr-wrap:last-child span{
		left: 33px;
	}
	.order-instr .instr{
		text-align: left !important;
		margin-left: 60px;
		margin-bottom: 20px;
	}
	.order-instr .instr p{
		text-align: left !important;
		width: auto;
	}
	.order-instr .first-row{
		margin-bottom: 0;
	}
}

/*Gallery*/

.gallery{
	border-top: 20px solid #fff;
	border-bottom: 20px solid #fff;
	background: url('../img/base/old_moon.png');
}
.gallery .video-place{
	text-align: center;
	margin-bottom: -5px;
}
.gallery .images{
	box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.4), inset 0 -15px 25px rgba(0, 0, 0, 0.4);
}
.gallery .grid figure{
	width: 12.5%;
}

@media (max-width: 479px){
	.gallery .images .grid figure {
		width: 50%;
	}
}
@media (min-width: 480px) and (max-width: 767px){
	.gallery .images .grid figure {
		width: 33.33%;
	}
}
@media (min-width: 768px) and (max-width: 1023px){
	.gallery .images .grid figure{
		width: 25%;
	}
}
@media (min-width: 1024px) and (max-width: 1599px){
	.gallery .images .grid figure{
		width: 16.6%;
	}
}

/*Why Us*/

.why-us{
	background: url('../img/base/old_moon.png');
	padding: 100px 0 50px;
	position: relative;
}
.why-us h1{
	font-size: 60px !important;
	text-align: center;
}
.why-us .why-item{
	position: relative;
	float: left;
	height: 140px;
}

.why-us .why-item p{
	position: relative;
	z-index: 2;
	line-height: 24px;
	margin-left: 70px;
}
.why-us .why-item .number{
	position: absolute;
	top: -35px;
	left: 0;
	z-index: 1;
	border-radius: 50%;
	background: #58dbfb;
	font-size: 100px;
	line-height: 100px;
	width: 110px;
	text-align: center;
	padding-bottom: 9px;
}
.why-us .second-row{
	margin-top: 90px;
}

@media (min-width: 1280px){
	.why-us .first-row .why-item:nth-child(odd){
		margin-top: 160px;
	}
	.why-us .second-row .why-item:nth-child(even){
		margin-top: 160px;
	}
}
@media (min-width: 1024px) and (max-width: 1279px){
	.why-us .first-row .why-item:nth-child(3){
		margin-top: 40px;
	}
	.why-us .second-row .why-item:nth-child(1){
		margin-bottom: 40px;
	}
}
@media (max-width: 767px){
	.why-us{
		padding-bottom: 0;
	}
	.why-us h1{
		top: 0;
		left: 0;
		position: absolute;
		font-size: 26px !important;
		width: 100%;
	}
	.why-us .first-row{
		margin-bottom: 0;
	}
	.why-us .second-row{
		margin-top: 0;
	}
	.why-us .why-item{
		margin-bottom: 30px;
	}
}
@media (max-width: 479px){
	.why-us .why-item{
		margin-bottom: 50px;
	}
}

/*Request*/

.partner-request{
	position: relative;
	box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.4), inset 0 -15px 25px rgba(0, 0, 0, 0.4);
	border-bottom: 22px solid #fff;
	border-top: 22px solid #fff;
}
.partner-request-content{
	line-height: 25px;
	padding: 80px 0;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.partner-request h1{
	margin-bottom: 150px;
}
.partner-request .request-text{
	width: 350px;
	margin: 0 auto;
}
.partner-request .form-block{
	width: 258px;
	float: right;
	margin-top: -15px;
}
@media (max-width: 767px){
	.partner-request-content{
		padding: 40px 0;
	}
	.partner-request h1{
		margin-bottom: 50px;
	}
	.partner-request .form-block{
		float: none;
		margin: 20px auto;
	}
}
@media (min-width: 768px){
	.partner-request .request-wrap{
		width: 730px;
		margin: 0 auto;
	}
	.partner-request .request-text{
	display: inline-block;
	text-align: left;
	}
	.partner-request .form-block{
		display: inline-block;
	}
}
@media (min-width: 1024px){
	.partner-request-content{
		padding: 80px 0 140px;
	}
}
/*Map*/

.map {
	border-top: 33px solid #fff;
	box-shadow: 0px -15px 30px 0px rgba(95, 98, 98, 0.3);
	position: relative;
}
.map .info{
	position: absolute;
	text-align: center;
	top: 0;
	left: 50%;
	margin-left: -285px;
	
}
.map .info-place{
	margin: 0 auto;
	width: 570px;
	border-top: 285px solid #fff;
	border-left: 285px solid transparent; 
	border-right: 285px solid transparent;
}
.map .info-text{
	position: absolute;
	top: -45px;
	text-align: center;
	width: 100%;
}
.map .details{
	width: 270px;
	margin: 0 auto;
}
.map .details p{
	margin-bottom: 5px;
}
.map .details .red-text{
	color: #e05750;
	text-transform: uppercase;
}
.map .details .signature{
	color: #e05750;
}
.map .info .address{
	position: absolute;
	bottom: -55px;
	left: 50%;
	margin-left: 20px;
	width: 195px;
	text-align: left;
	font-weight: bold;
}
/*Social*/

.social{
	background: url('../img/base/old_moon.png');
	padding-bottom: 105px;
}
.social .social-link{
	text-align: center;
}
.social .social-link+.social-link{
	margin-top: 30px;
}
.social p{
	max-width: 879px;
	margin: 25px auto 55px;
	font-size: 23px;
	line-height: 37px;
	letter-spacing: 0.06em;
}
@media (min-width: 768px){
	.social .links-wrap{
		max-width: 770px;
		margin: 0 auto;
	}
	.social .social-link{
		display: inline-block;
	}
	.social .social-link:last-child{
		float: right;
	}
	.social .social-link+.social-link{
		margin-top: 0;
	}
}
/*Footer*/
.footer{
	padding-bottom: 30px;
}
.footer h3{
	line-height: 35px;
	margin-bottom: 20px;
	text-align: center;
}
.footer a{
	display: block;
}
.footer .phone{
	font-size: 25px;
	margin-top: 10px;
}
@media (min-width: 1280px){
	.footer h3{
		margin-left: 395px;
		text-align: left;
		line-height: 50px;
	}
	.footer img{
		margin-left: 235px;
	}
	.footer .phone{
		font-size: 37px;
		margin-right: 70px;
		margin-top: 0;
	}
}
@media (max-width: 479px){
	.footer h3{
		font-size: 25px !important;
		line-height: 30px;
	}
	.footer .phone{
		float: none !important;
		display: block;
		margin: 5px auto 20px;
		text-align: center;
	}
	.footer a{
		text-align: center;
	}
	.footer img{
		width: 200px;
	}
}