/*Fonts style classes------------------------------------------------*/

.exo-reg { font-family: 'exo-two-regular';}
.exo-medium { font-family: 'exo_2.0medium';}
.exo-light { font-family: 'exo_2.0light'; }
.exo-extralight { font-family: 'exo_2.0extra_light'; }
.exo-bold { font-family: 'exo_2.0bold'; }
.exo-extrabold { font-family: 'exo_2.0extra_bold'; }
.exo-semibold { font-family: 'exo_2.0semi_bold'; }
 
 /*Typografics---------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 { font-size: 44px !important; }
h2 { font-size: 36px !important; }

h3 { font-size: 31px !important; }

h4 { font-size: 22px !important; }

h5 { font-size: 20px !important; }

h6 { font-size: 14px !important; }
@media (max-width: 767px){
	h1{
		font-size: 30px !important;
	}
	h2{
		font-size: 25px !important;
	}
}

.md { font-size: 18px; }

.white{
	color: #fff;
}

p { margin: 0;}

a { text-decoration: underline; }
a:hover, a:focus { text-decoration: none; outline: none; }

.btn { padding: 6px 15px; }

.btn:focus, .btn:active, button:focus, button:active { outline: none; }

/*General styles*/
body{
	font-family: 'open_sansregular';
}
@media (min-width: 940px) { body { overflow-x: hidden; } }
@media (min-width: 1350px) { 
	.container { width: 1332px !important; }
}

.form-block{
	width: 275px;
}
.form-custom input{
	height: 36px;
	color: #fff;
	font-size: 20px;
	background: transparent;
	border: none;
	box-shadow: none;
	border-radius: 0;
	width: 200px;
	padding: 0 0 10px 0;
}
.form-custom .input-field{
	border-bottom: 1px solid #fff;
	margin-bottom: 23px;
	text-align: center;
}
.form-custom .input-field:nth-child(1):before{
	display: inline-block;
	content: url('../img/base/my-name.png');
	width: 60px;
	margin-left: -25px;
	vertical-align: bottom;
}
.form-custom .input-field:nth-child(2):before{
	display: inline-block;
	content: url('../img/base/my-email.png');
	width: 60px;
	margin-left: -25px;
	vertical-align: bottom;
}
.form-custom .input-field:nth-child(3):before{
	display: inline-block;
	content: url('../img/base/my-phone.png');
	width: 60px;
	margin-left: -25px;
	vertical-align: bottom;
}
.form-custom .input-field img{
	margin-right: 15px;
	margin-top: 10px;
}
.form-custom input:focus{
	outline: none;
}
.form-custom .placeholder{
	color: #fff;
}
.form-custom input::-webkit-input-placeholder {
	color: white;
	font-family: 'exo-two-regular';
	font-size: 20px;
}
.form-custom input::-moz-placeholder{
	color: white;
	font-family: 'exo-two-regular';
	font-size: 20px;
}
.form-custom input:-moz-placeholder{
	color: white;
	font-family: 'exo-two-regular';
	font-size: 20px;
}
.form-custom input:-ms-input-placeholder{
	color: white;
	font-family: 'exo-two-regular';
	font-size: 20px;
	line-height: 30px;
}
.form-custom button.btn{
	background: #fff;
	color: #2f174f;
	white-space: pre-line;
	margin-top: 34px;
	padding: 5px 25px;
	line-height: 16px;
}

/*Content styles---------------------------------------------------------*/

/*Header*/

.header {
	background: url('../img/base/header.jpg') no-repeat;
	min-height: 1092px;
	padding: 60px 0;
	background-position: 50% 0;
	background-size: auto 100%;
}
	.header-left .menu-sign{
		margin-right: 15px;
	}
.header-left .menu-sign:before{
	width: 47px;
	height: 17px;
	border-top: 4px solid #fff;
	border-bottom: 2px solid  #fff;
	content: '';
	display: block;
}
.header-left .menu-sign:after{
	width: 47px;
	height: 17px;
	border-top: 2px solid #fff;
	border-bottom: 4px solid  #fff;
	content: '';
	display: block;
}
.header-left .menu{
	border: 1px solid #fff;
	padding: 0 27px 4px;
	display: inline-block;
	margin-bottom: 68px;
}
.header-left .menu a{
	color: #fff;
	font-size: 20px;
}
.header-left .logo img{
	margin-bottom: 50px;
}
.header-left .video-frame{
	display: block;
	margin: 0 auto;
}
.header-left .services{
	margin-top: 140px;
	color: #fff;
	line-height: 25px;
}
.header-left .services .img-wrap{
	height: 65px;
	margin-bottom: 15px;
}
.header-left .services .img-wrap img{
	vertical-align: bottom;
}
.header-right{
	color: #fff;
	text-align: center;
}
.header-right .contacts{
	margin-bottom: 74px;
}
.header-right .contacts .logotip-wrap{
	position: relative;
	float: left;
	margin-right: 10px;
	margin-top: -6px;
	padding-right: 10px
}
.header-right .contacts .logotip-rhombus{
	width: 35px;
	height: 35px;
	background: #333;
	border: 2px solid #000;
	opacity: 0.3;
	transform: rotate(45deg);
}
.header-right .contacts .logotip-wrap span{
	position: absolute;
	font-family: 'exo_2.0black';
	color: #fff;
	top: 6px;
	left: 12px;
	text-transform: uppercase;
	font-size: 16px;
}
.header-right .contacts h5{
	margin-top: 34px;
}
.header-right .contacts a{
	color: #fff;
	font-size: 21px;
	text-decoration: underline;
	display: inline-block;
}
.header-right .main-title{
	margin-bottom: 65px;
}
.header-right .main-title span{
	background: #fff;
	padding: 1px 8px 10px;
	margin-bottom: 5px;
	display: inline-block;
	letter-spacing: 1px;
	color: #2f174f;
	line-height: 32px;
}
.header-right .form-custom{
	width: 260px;
}
.header-right .form-block p{
	line-height: 21px;
	margin-bottom: 15px;
}
@media (max-width: 1279px){
	.header-left .services{
		margin-bottom: 60px;
	}
	.header-left .services{
		margin-top: 50px;
	}
	.header-left .services p{
		margin: 0 auto;
		max-width: 400px;
		margin-bottom: 20px;
	}
	.header-right .form-block{
		margin: 0 auto;
	}
}
@media (max-width: 479px){
	.header .header-left .menu{
		width: 100%;
		margin-top: 30px;
		margin-bottom: 0;
	}
	.header .header-left .menu li{
		display: block;
	}
	.header .header-left .logo{
		position: absolute;
		top: 15px;
	}
	.header .header-left .logo img{
		width: 250px;
	}
	.header .header-left iframe{
		display: none;
	}
	.header .header-right .main-title span{
		display: block;
		margin-bottom: 0;
	}
}
@media (min-width: 1280px){
	.header .header-left{
		float: left;
		width: 63%;
	}
	.header-left .menu-sign{
		margin-left: 102px;
	}
	.header-left .menu li+li{
		margin-left: 35px;
	}
	.header-left .logo img{
		margin-bottom: 120px;
		margin-left: 88px;
	}
	.header-right{
		width: 37%;
		float: right;
		padding-left: 47px;
		text-align: left;
	}
	.header-right .contacts{
		margin-left: 31%;
		
	}
}

/*Clients*/
.clients{
	background: url('../img/base/city-view.jpg') no-repeat;
	min-height: 399px;
	color: #fff;
	padding: 33px 0;
	background-position: 50% 0;
	background-size: auto 100%;
}
.clients h2{
	letter-spacing: 2px;
	margin-bottom: 75px;
}
.clients .row-second{
	margin-top: -10px;
}
@media (max-width: 767px){
	.clients img{
		margin-bottom: 30px;
	}
}

/*Video-types*/

.video-types{
	background: url('../img/base/pattern-1.png');
	padding: 40px 0 55px;
	position: relative;
}
.video-types .sep-line{
	background: url('../img/base/pattern-2.png');
	height: 7px;
	width: 100%;
	position: absolute;
	top: 25px;
}
.video-types .sep-line.line-bottom{
	top: 100%;
	margin-top: -25px;
}
.video-types h1{
	color: #8961b5;
}
.video-types .row{
	margin-bottom: 22px;
}
.video-types .v-type-wrap{
	width: 180px;
	height: 180px;
	position: relative;
	transform: rotate(-45deg);
	border: 1px solid #666;
	margin: 85px auto 67px auto;
}
.video-types img{
	margin-left: 2px;
	margin-top: 2px;
	width: 180px;
	height: 180px;
}
.video-types .v-type-wrap .img-shadow{
	background: #777;
	opacity: 0.5;
	display: inline-block;
	width: 182px;
	height: 182px;
	position: absolute;
	left: 3px;
	top: 3px;
	border: 1px solid #000;
}
.video-types .v-type-wrap .img-shadow:hover {
	opacity: 0;
	transition: all 0.1s ease-out;
}
.video-types .v-type-title{
	color: #fff;
	position: absolute;
	top: 135px;
	left: 7px;
	width: 100%
}
.video-types .v-type-title h5{
	display: block;
	z-index: 1000;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}
.video-types .v-type-title span{
	width: 5px;
	height: 5px;
	margin-right: 5px;
	display: inline-block;
	background: #fff;
	transform: rotate(45deg);
}
.video-types p.md{
	line-height: 38px;
	margin-bottom: 5px;
}
.video-types a{
	color: #000;
	font-size: 37px;
	border-bottom: 2px solid #000
}
.video-types a:hover{
	border-bottom: 2px solid transparent;
	color: #555;
	text-decoration: none;
}

/*Our-favourites*/
.our-favourites{
	background: url('../img/base/keypad.jpg') no-repeat;
	/*min-height: 950px;*/
	padding: 45px 0 40px;
	background-position: 50% 0;
	background-size: auto 100%;
}
.our-favourites a{
	display: block;
}
.our-favourites .work-wrap{
	width: 260px;
	height: 260px;
	position: relative;
	transform: rotate(-45deg);
	display: inline-block;
	margin-top: 130px;
}
.our-favourites .work-wrap+.work-wrap{
	margin-left: 135px
}
.our-favourites .work-wrap img{
	width: 100%;
}

.our-favourites .work-shadow{
	background: #777;
	opacity: 0.5;
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.our-favourites .work-shadow:hover {
	opacity: 0;
	transition: all 0.1s ease-out;
}
.our-favourites .more-link{
	color: #58d6fb;
	font-family: 'exo_2.0light_italic';
	border-bottom: 2px solid #58d6fb;
	font-size: 25px;
	display: inline-block;
	margin-top: 108px;
	line-height: 29px;
}
.our-favourites .more-link:hover{
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
@media (min-width: 1280px){
	.our-favourites .second-row, .our-favourites .third-row{
		margin-top: -190px;
	}
}
@media (max-width: 1279px){
	.our-favourites .work-wrap+.work-wrap{
		margin-left: 100px
	}
	.our-favourites .work-wrap{
		margin-top: 142px;
		width: 200px;
		height: 200px;
	}
}
@media (max-width: 1023px){
	.our-favourites .first-row{
		margin-top: 130px;
	}
	.our-favourites .work-wrap{
		margin-top: -22px;
		width: 150px;
		height: 150px;
	}
}
@media (max-width: 767px){
	.our-favourites .work-wrap+.work-wrap{
		margin-left: 55px;
	}
	.our-favourites .work-wrap{
		margin-top: -19px;
		width: 100px;
		height: 100px;
	}
}
@media (max-width: 479px){
	.our-favourites .first-row{
		margin-top: 0;
	}
	.our-favourites .work-wrap+.work-wrap{
		margin-left: 0;
	}
	.our-favourites .work-wrap{
		margin-top: 90px;
		width: 100%;
		height: 100%;
	}
	.our-favourites .work-wrap img{
		width: 50%;
	}
	.our-favourites .work-wrap .work-shadow{
		width: 50%;
		left: 25%;
	}
}

/*Order-Instruction*/

.order-instr{
	background: url('../img/base/pattern-1.png');
	padding: 50px 0;
}
.order-instr h1{
	margin-bottom: 100px;
}
.order-instr .instr-wrap p{
	width: 150px;
	font-size: 17px;
	display: block;
	text-align: center;
	margin: 13px auto;
}
.order-instr .instr-wrap span{
	color: #fff;
	display: inline-block;
	background: #2eb36b;
	border-radius: 50%;
	font-family: 'exo_2.0black';
	padding: 1px 6px;
	line-height: 16px;
	position: absolute;
	top: -6px;
	left: -28px;
}
.order-instr .line{
	border-bottom: 2px solid #555;
	width: 150px;
	position: absolute;
	top: 90px;
	left: 60%;
}
.order-instr .first-row .line{
	transform: rotate(40deg);
}
.order-instr .first-row .line span{
	transform: rotate(-40deg);
}
.order-instr .first-row>div:last-child span{
	top: 27px;
	left: 60%;
}
.order-instr .first-row .line:after,
.order-instr .second-row .line:after{
	content: '';
	background: #2eb36b;
	border-radius: 50%;
	display: block;
	padding: 2px;
	margin-left: 101%;
	margin-bottom: -2px;
}
.order-instr .second-row .instr-wrap{
	margin-top: -5px;
	margin-bottom: 55px;
}
.order-instr .second-row .line{
	transform: rotate(-40deg);
}
.order-instr .second-row .line span{
	transform: rotate(40deg);
}
.order-instr .second-row .line{
	transform: rotate(-40deg);
	top: -80px;
}
.order-instr .third-row .line{
	width: 300px;
	top: 30px;
	left: 65%;
}
.order-instr .third-row>div:last-child span{
	top: 22px;
	left: 35%;
}

/*@media (max-width: 1279px){
	.order-instr .first-row .line{
		transform: rotate(50deg);
		width: 100px;
	}
	.order-instr .second-row .line{
		width: 100px;
		transform: rotate(-50deg);
	}
}*/

/*Gallery*/

.gallery{
	border-top: 20px solid #fff;
	border-bottom: 20px solid #fff;
	box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.4), inset 0 -15px 25px rgba(0, 0, 0, 0.4);
}
.gallery .photos{
	position: relative;
	z-index: -1;
}
.gallery img{
	float: left;
	width: 16.66%;
}
@media (max-width: 479px){
	.gallery img{
		width: 100%;
	}
}
@media (min-width: 480px) and (max-width: 767px){
	.gallery img{
		width: 33.33%;
	}
}
@media (min-width: 768px) and (max-width: 1279px){
	.gallery img{
		width: 25%;
	}
}

/*Why Us*/

.why-us{
	background: url('../img/base/pattern-1.png');
	padding: 125px 0 50px;
	position: relative;
}
.why-us h1{
	position: absolute;
	top: 44%;
	left: 40%;
	font-size: 60px !important;
}
.why-us .why-item{
	position: relative;
	float: left;
	width: 25%;
	height: 170px;
}
.why-us .why-wrap{
	width: 100%;
	margin-left: 285px;
	margin: 0 auto;
	max-width: 1400px;
}
.why-us .why-item p{
	width: 260px;
	display: inline-block;
	position: relative;
	z-index: 2;
	line-height: 24px;
}
.why-us .why-item .number{
	position: absolute;
	top: -37px;
	left: -90px;
	z-index: 1;
	border-radius: 50%;
	background: #58dbfb;
	font-size: 100px;
	line-height: 100px;
	width: 110px;
	text-align: center;
	padding-bottom: 9px;
}
@media (min-width: 1350px){
	.why-us .why-wrap{
		width: calc(100% - 665px);
	}
}
@media (min-width: 1280px){
	.why-us .why-item:nth-child(even){
		margin-top: 210px;
	}
	.why-us .why-item:nth-child(7){
		margin-top: 420px;
		height: auto;
	}
}
@media (max-width: 767px){
	.why-us h1{
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 26px !important;
	}
	.why-us .why-item{
		width: 100%;
		height: auto;
		margin-bottom: 70px;
	}
	.why-us .why-item p{
		width: auto;
		margin-left: 95px;
	}
	.why-us .why-item .number{
		left: 15px;
	}
}

/*Request*/

.partner-request{
	background: url('../img/base/city-view-2.jpg') no-repeat;
	min-height: 650px;
	background-position: 50% 0;
	background-size: 100%;
	padding: 80px 0;
	line-height: 25px;
	border-top: 20px solid #fff;
	border-bottom: 20px solid #fff;
	box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.4);
}
.partner-request h1{
	margin-bottom: 150px;
}
.partner-request .form-block{
	width: 258px;
	float: right;
	margin-top: -15px;
}

/*Map*/

.map {
	background: url('../img/base/map.jpg') no-repeat;
	min-height: 570px;
	background-position: 50% 0;
	border-top: 33px solid #fff;
	/*background-size: 100%;*/
	box-shadow: 0px -15px 30px 0px rgba(95, 98, 98, 0.3);
}
.map .info{
	position: relative;
	text-align: center;
}
.map .info-place{
	margin: 0 auto;
	width: 660px;
	border-top: 330px solid #fff;
	border-left: 330px solid transparent; 
	border-right: 330px solid transparent;
}
.map .info-text{
	position: absolute;
	top: -45px;
	text-align: center;
	width: 100%;
}
.map .details{
	width: 300px;
	margin: 0 auto;
}
.map .details .red-text{
	color: #e05750;
	text-transform: uppercase;
}
.map .details .signature{
	color: #e05750;
}
/*Social*/

.social{
	background: url('../img/base/pattern-1.png');
	padding: 35px 0;
}

/*Footer*/
.footer{
	padding-bottom: 30px;
}
.footer h3{
	margin-left: 395px;
	line-height: 50px;
	margin-bottom: 20px;
}
.footer img{
	margin-left: 235px;
}
.footer .phone{
	font-size: 37px;
	margin-right: 70px;
}