/*Fonts style classes------------------------------------------------*/
/*
.exo-reg { font-family: 'Exo2.0-Regular' !important; }

.exo-medium { font-weight: bold; }
.exo-light {  }
.exo-extralight { }
.exo-bold { font-weight: bold; }
.exo-extrabold { font-weight: bold;}
.exo-semibold { font-weight: bold; }*/
 
 /*Typografics---------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 { font-size: 44px !important; }
h2 { font-size: 36px !important; }

h3 { font-size: 31px !important; }

h4 { font-size: 22px !important; }

h5 { font-size: 20px !important; }

h6 { font-size: 14px !important; }
@media (max-width: 767px){
	h1{
		font-size: 30px !important;
	}
	h2{
		font-size: 25px !important;
	}
}

.md { font-size: 18px; }

.white{
	color: #fff;
}

p { margin: 0;}

a { text-decoration: underline; }
a:hover, a:focus { text-decoration: none; outline: none; }

.btn { padding: 6px 15px; }

.btn:focus, .btn:active, button:focus, button:active { outline: none; }
.btn-scroll{
	display: none;
	background: #000;
	position: fixed;
	bottom: 100px;
	right: 40px;
	width: 45px;
	height: 45px;
	border: none;
	cursor: pointer;
	z-index: 1000;
	opacity: 0.7;
}
.btn-scroll:before{
	content: ''; 
	position: absolute;
	bottom: 20px;
	left: 12px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
.btn-scroll:after{
	content: '' ;
	position: absolute;
	bottom: 18px;
	left: 12px;
	border: 10px solid transparent;
	border-bottom: 10px solid #000;
}
/*General styles*/
body{
	font-family: 'Exo2.0-Regular' !important;
}
@media (min-width: 940px) { body { overflow-x: hidden; } }
@media (min-width: 1500px) { 
	.container { width: 1350px !important; }
}

/*form styles*/
.form-block{
	width: 275px;
}
.form-custom input{
	height: 36px;
	color: #fff;
	font-size: 20px;
	background: transparent;
	border: none;
	box-shadow: none;
	border-radius: 0;
	width: 200px;
	padding: 0 0 10px 0;
	opacity: 1;
}
.form-custom .input-field{
	border-bottom: 1px solid #fff;
	margin-bottom: 23px;
	text-align: center;
}
.form-custom .input-field:nth-child(1):before{
	display: inline-block;
	content: url('../img/base/my-name.png');
	width: 60px;
	margin-left: -25px;
	vertical-align: bottom;
}
.form-custom .input-field:nth-child(2):before{
	display: inline-block;
	content: url('../img/base/my-email.png');
	width: 60px;
	margin-left: -25px;
	vertical-align: bottom;
}
.form-custom .input-field:nth-child(3):before{
	display: inline-block;
	content: url('../img/base/my-phone.png');
	width: 60px;
	margin-left: -25px;
	vertical-align: bottom;
}
.form-custom .input-field img{
	margin-right: 15px;
	margin-top: 10px;
}
.form-custom input:focus, .form-custom input:active{
	outline: none;
	background: transparent;
	color: #fff;
}
.form-custom .placeholder{
	color: #fff;
}
.form-custom input::-webkit-input-placeholder {
	color: #fff;
	/*font-family: 'Exo2.0-Regular' !important;*/
	font-size: 20px;
	opacity: 1;
}
.form-custom input::-moz-placeholder{
	color: #fff !important;
	font-size: 20px;
	opacity: 1;
	-moz-transition: opacity 0.7s ease-out;
	transition: opacity 0.7s ease-out;
}
.form-custom input:-moz-placeholder{
	color: #fff !important;
	font-size: 20px;
	opacity: 1;
	-moz-transition: opacity 0.7s ease-out;
	transition: opacity 0.7s ease-out;
}
.form-custom input:-ms-input-placeholder{
	color: #fff;
	font-size: 20px;
	opacity: 1;
}
.form-custom input:focus::-webkit-input-placeholder{
	opacity: 0;
	-webkit-transition: all 0.7s ease-out 0.2s;
	transition: all 0.7s ease-out 0.2s;
}
.form-custom input:focus::-moz-placeholder{
	opacity: 0;
	-moz-transition: opacity 0.7s ease-out 0.2s;
	transition: all 0.7s ease-out 0.2s;
}
.form-custom input:focus:-moz-placeholder{
	opacity: 0;
	-moz-transition: all 0.7s ease-out 0.2s;
	transition: all 0.7s ease-out 0.2s;
}
.form-custom input:focus:-ms-input-placeholder{
	opacity: 0;
	transition: all 0.7s ease-out 0.2s;
}
.form-custom button.btn{
	background: #fff !important;
	color: #2f174f !important;
	white-space: pre-line;
	font-weight: bold;
	margin-top: 34px;
	/*padding: 5px 25px;*/
	line-height: 16px;
}
@media (max-width: 1499px){
	.form-block{
		margin: 0;
	}
	.form-custom .input-field{
		margin-bottom: 10px;
	}
	.form-custom button.btn {
		margin-top: 25px;
		/*line-height: 13px;*/
		font-size: 13px;
	}
	.form-custom input{
		padding: 0;
		height: 25px;
	}
	.form-custom input::-webkit-input-placeholder {
		font-size: 17px;
	}
	.form-custom input::-moz-placeholder{
		font-size: 17px !important;
	}
	.form-custom input:-moz-placeholder{
		font-size: 17px !important;
	}
	.form-custom input:-ms-input-placeholder{
		font-size: 17px;
	}
}

.modal-request .modal-dialog{
	margin: 50px auto;
}
.modal-success .modal-dialog{
	margin: 150px auto 0;
}
.modal-success .modal-content .modal-footer button{
	text-transform: uppercase;
}
.modal-form .modal-content{
	background-color: #575671;
}
.modal-form .modal-content .modal-header{
	border-bottom: none;
}
.modal-form .modal-content .modal-header h3{
	margin-top: 20px;
}
.modal-form .modal-content .modal-header .close{
	color: #fff;
	opacity: 0.8;
}
.modal-form .modal-content .modal-footer{
	border-top: none;
	margin-top: 0;
}
.modal-form .modal-content .modal-footer button{
	margin-top: 0;
}
.modal-form .modal-content .form-block{
	margin: 0 auto;
}

.modal-video .modal-dialog{
	width: auto;
	max-width: 800px;
}
.modal-video .modal-content{
	background: transparent;
	box-shadow: none;
	border: none;
}
.modal-video .close{
	color: #fff;
	opacity: 1;
	width: 50px;
	height: 50px;
	font-size: 50px;
	font-weight: normal;
	position: absolute;
	right: -30px;
	top: -10px;
}
.modal-video .arrow {
	cursor: pointer;
	display: block;
	height: 30px;
	margin-top: -30px;
	outline: medium none;
	position: absolute;
	top: 50%;
	width: 45px;
	z-index: 5;
	opacity: 0.8;
	background: url("../img/base/arrows.png") no-repeat;
	transition: all 0.2s linear 0s;
}
.modal-video .arrow.prev {
	left: -50px;
}
.modal-video .arrow.next {
	right: -80px;
	background: url("../img/base/arrows.png") 0 100% no-repeat;

}
.modal-video .arrow.prev:hover{
	opacity:1;
}
.modal-video .arrow.next:hover{
	opacity:1;
}
.modal-video .slider {
	border: 15px solid #fff;
	border-radius: 5px;
	height: 500px;
	margin: 20px auto;
	position: relative;
	width: 90%;
	max-width: 800px;

	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
@media (max-width: 1023px){
	.modal-video .close{
		right: 0;
		font-size: 35px;
	}
}
@media (min-width: 768px) and (max-width: 1023px){
	.modal-video .slider{
		height: 400px;
	}
}
@media (min-width: 501px) and (max-width: 767px){
	.modal-video .slider{
		height: 330px;
	}
}
@media (max-width: 500px){
	.modal-video .slider{
		/*display: none;*/
		height: 235px;
		width: 100%;
		margin: 0;
		border: 5px solid #fff;
	}
	.modal-video .modal-dialog{
		margin: 50px 0 0;
	}
	.modal-video .modal-body{
		padding: 5px;
	}
	.modal-video .close{
		top: -40px;
	}
	.modal-form .modal-content .modal-header h3{
		font-size: 21px !important;
	}
}
@media (min-height: 480px){
	.modal-request .modal-dialog{
		margin-top: calc((100vh - 442px)/2);
	}
}
.modal-video .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal-video .slide.ng-hide-add {
	opacity:1;

	-webkit-transition:1s linear all;
	-moz-transition:1s linear all;
	-o-transition:1s linear all;
	transition:1s linear all;
/*
	-webkit-transform: rotateX(50deg) rotateY(30deg);
	-moz-transform: rotateX(50deg) rotateY(30deg);
	-ms-transform: rotateX(50deg) rotateY(30deg);
	-o-transform: rotateX(50deg) rotateY(30deg);
	transform: rotateX(50deg) rotateY(30deg);*/

	-webkit-transform-origin: right top 0;
	-moz-transform-origin: right top 0;
	-ms-transform-origin: right top 0;
	-o-transform-origin: right top 0;
	transform-origin: right top 0;
}
.modal-video .slide.ng-hide-add.ng-hide-add-active {
	opacity:0;
}
.modal-video .slide.ng-hide-remove {
	-webkit-transition:1s linear all;
	-moz-transition:1s linear all;
	-o-transition:1s linear all;
	transition:1s linear all;

	display:block!important;
	opacity:0;
}
.modal-video .slide, .slide.ng-hide-remove.ng-hide-remove-active {
	opacity:1;
}
@media (max-width: )
/*hover effect for img-------------------------------------------*/
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	/*background: #3085a3;*/
	text-align: center;
	cursor: pointer;
	display: inline-block;
}
.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.9;
}
/*---------------*/
/***** Julia *****/
/*---------------*/
figure.effect-julia {
	background: #2f3238;
}

figure.effect-julia img {
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	-moz-transition: opacity 1s, -moz-transform 1s;
	-moz-transition: opacity 1s, -moz-transform 1s;
	-ms-transition: opacity 1s, -ms-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-julia:hover img {
	opacity: 1;
	-webkit-transform: scale3d(1.1,1.1,1);
	-moz-transform: scale3d(1.1,1.1,1);
	-o-transform: scale3d(1.1,1.1,1);
	-ms-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

/*Content styles---------------------------------------------------------*/

/*Header*/

.header {
	position: relative;
	background-color: #575671;
}
.header-content{
	z-index: 100;
	position: absolute;
	opacity: 1;
	width: 100%;
	padding: 30px 0;
	top: 0;
	left: 0;
}
.header .header-left{
	position: relative;
	/*margin-bottom: 20px;*/
}
.header-left .bg-lines{
	position: relative;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	background-size: 100% 2px;
	height: 2px;
}
.header-left .bg-lines.line-1{
	background-image: url('../img/base/gradient-violet-1.gif');
	width: 35px;
	/*border-top: 5px solid #8961b5;*/
}
.header-left .bg-lines.line-2{
	width: 100px;
	background-image: url('../img/base/gradient-violet-3.gif');
	/*border-top: 2px solid #6a7bb9;*/
}
.header-left .bg-lines.line-3{
	width: 50px;
	background-image: url('../img/base/gradient-violet-2.gif');
	/*border-top: 2px solid #285a97;*/
}
.header-left .bg-lines.line-4{
	width: 25px;
	background-image: url('../img/base/gradient-violet-1.gif');
	/*border-top: 4px solid #5fa1dc;*/
}
.header-left .bg-lines.line-5{
	width: 100px;
	background-image: url('../img/base/gradient-violet-3.gif');
	/*border-top: 2px solid #845ead;*/
}
.header-left .bg-lines.line-6{
	width: 25px;
	background-image: url('../img/base/gradient-violet-1.gif');
	/*border-top: 4px solid #aa90ca;*/
}
.header-left .menu-sign{
	margin-right: 15px;
}
.header-left .menu-sign:before{
	width: 47px;
	height: 17px;
	border-top: 4px solid #fff;
	border-bottom: 2px solid  #fff;
	content: '';
	display: block;
}
.header-left .menu-sign:after{
	width: 47px;
	height: 17px;
	border-top: 2px solid #fff;
	border-bottom: 4px solid  #fff;
	content: '';
	display: block;
}
.header-left .menu{
	border: 1px solid #fff;
	padding: 0 27px 4px;
	display: inline-block;
	margin-bottom: 30px;
}
.header-left .menu a{
	color: #fff;
	font-size: 20px;
}
.header-left .logo img{
	margin-bottom: 30px;
	width: 300px;
}
.header-left .video-frame{
	height: 350px;
}
.header-left .video-frame iframe{
	display: block;
	margin: 0 auto;
	width: 100%;
	position: relative;
	z-index: 1;
	height: 100%;
}
.header-left .services{
	margin-bottom: 60px;
	margin-top: 140px;
	color: #fff;
	line-height: 25px;
}
.header-left .services .img-wrap{
	margin-bottom: 15px;
}
.header-left .services .img-wrap img{
	height: 62px;
	width: auto;
	vertical-align: bottom;
}
.header-right{
	color: #fff;
	text-align: center;
}
.header-right .contacts{
	margin-bottom: 35px;
}
.header-right .contacts .logotip-wrap{
	position: relative;
	float: left;
	margin-right: 10px;
	padding-right: 10px
}
.header-right .contacts .logotip-rhombus{
	width: 35px;
	height: 35px;
	background: #333;
	border: 2px solid #000;
	opacity: 0.3;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.header-right .contacts .s-links a{
	display: inline-block
}
.header-right .contacts .s-links a:hover .logotip-rhombus{
	opacity: 0.5;
}
.header-right .contacts .logotip-wrap span{
	position: absolute;
	color: #fff;
	top: 6px;
	left: 12px;
	text-transform: uppercase;
	font-size: 16px;
}
.header-right .contacts h5{
	margin-top: 34px;
}
.header-right .contacts a.mail-to{
	color: #fff;
	font-size: 21px;
	text-decoration: underline;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 15px;
}
.header-right .contacts a.mail-to:hover{
	text-decoration: none;
}
.header-right .main-title{
	margin-bottom: 30px;
}
.header-right .main-title span{
	background: #fff;
	padding: 0px 8px 5px;
	margin-bottom: 5px;
	display: inline-block;
	letter-spacing: 0px;
	color: #2f174f;
	line-height: 36px;
}
.header-right .form-custom{
	width: 260px;
}
.header-right .form-block{
	margin: 0 auto;
}
.header-right .form-block p{
	line-height: 21px;
	margin-bottom: 15px;
}
@media (max-width: 1499px){
	.header-left .menu-sign:before{
		width: 30px;
		height: 14px;
		border-top: 3px solid #fff;
		border-bottom: 2px solid #fff;
	}
	.header-left .menu-sign:after{
		width: 30px;
		height: 13px;
		border-top: 1px solid #fff;
		border-bottom: 3px solid #fff;
	}
	.header-left .logo img{
		width: 240px;
		margin-bottom: 20px;
	}
	.header-left .menu{
		margin-bottom: 20px;
	}
	.header-left .menu a{
		font-size: 15px;
		padding-bottom: 2px;
	}
	.header-left .video-frame{
		height: 330px;
	}
	.header-left .services{
		margin-top: 20px;
	}
	.header-left .img-wrap{
		margin-bottom: 10px;
	}
	.header-left .services .img-wrap img{
		height: 40px;
	}
	.header-left .services p{
		margin: 0 auto;
		max-width: 400px;
		font-size: 12px;
		line-height: 18px;
	}
	.header-right .contacts{
		margin: 0 0 20px;
	}
	.header-right .contacts h5{
		font-size: 15px !important;
		margin-top: 0;
	}
	.header-right .contacts a.mail-to{
		font-size: 18px;
	}
	.header .header-right h2{
		font-size: 22px !important;
	}
	.header-right .main-title{
		margin: 20px 0;
	}
	.header-right .main-title span {
		padding: 0px 8px 3px;
		line-height: 22px;
	}
	.header-right .contacts h5{
		margin-top: 15px;
	}
	.header-right .contacts a.mail-to{
		margin-bottom: 5px;
	}
	.header .header-right .main-title{
		margin: 10px 0;
		font-size: 20px !important;
	}
	.header-right .main-title span{
		line-height: 20px;
	}
	.header-right .form-block p{
		line-height: 20px;
		margin-bottom: 10px;
	}
}
@media (max-width: 1200px){
	.header-content{
		padding: 20px 0;
	}
	.header-left .video-frame{
		height: 300px;
	}
	.form-custom .input-field {
		margin-bottom: 6px;
	}
}
@media (max-width: 767px){
	.header-left .bg-lines.line-1{
		top: 113px;
		left: 10%;
	}
	.header-left .bg-lines.line-2{
		top: 115px;
		left: 30%;
	}
	.header-left .bg-lines.line-3{
		top: 100px;
		left: 85%;
	}
	.header-left .bg-lines.line-4{
		top: 445px;
		left: 5%;
	}
	.header-left .bg-lines.line-5{
		top: 430px;
		left: 30%;
	}
	.header-left .bg-lines.line-6{
		top: 450px;
		left: 90%;
	}
	.header .header-left iframe{
		width: 100%;
	}
	.header-left .services p{
		margin-bottom: 20px;
	}
}
@media (max-width: 479px){
	.header-left .bg-lines{
		display: none;
	}
	.header .header-left .menu{
		width: 100%;
		margin-top: 70px;
		margin-bottom: 0;
	}
	.header .header-left .menu li{
		display: block;
	}
	.header .header-left .logo{
		position: absolute;
		top: 0;
	}
	.header .header-left .logo img{
		width: 250px;
	}
	.header .header-left .video-frame{
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.header-left .bg-lines.line-1{
		top: 113px;
		left: 10%;
	}
	.header-left .bg-lines.line-2{
		top: 120px;
		left: 30%;
	}
	.header-left .bg-lines.line-3{
		top: 100px;
		left: 85%;
	}
	.header-left .bg-lines.line-4{
		top: 590px;
		left: 5%;
	}
	.header-left .bg-lines.line-5{
		top: 590px;
		left: 30%;
	}
	.header-left .bg-lines.line-6{
		top: 595px;
		left: 90%;
	}
	.header-left .video-frame{
		height: 450px;
	}
}
@media (min-width: 992px){
	.header .header-left{
		width: 60%;
		float: left;
	}
	.header-left .bg-lines.line-1{
		top: 114px;
		left: 15%;
	}
	.header-left .bg-lines.line-2{
		top: 100px;
		left: 45%;
	}
	.header-left .bg-lines.line-3{
		top: 100px;
		left: 89%;
	}
	.header-left .bg-lines.line-4{
		top: 440px;
		left: 10%;
	}
	.header-left .bg-lines.line-5{
		top: 430px;
		left: 30%;
	}
	.header-left .bg-lines.line-6{
		top: 445px;
		left: 89%;
	}
	.header-left .logo{
		display: block;
	}
	.header-left .services{
		margin-bottom: 0;
	}
	.header .header-right{
		width: 40%;
		text-align: left;
		float: right;
		padding-left: 60px;
	}
	.header .header-right .form-block{
		margin: 0
	}
}
@media (min-width: 1200px){
	.header-left .video-frame iframe{
		max-width: 600px;
	}
	.header-left .bg-lines.line-4{
		top: 470px;
		left: 10%;
	}
	.header-left .bg-lines.line-5{
		top: 470px;
		left: 30%;
	}
	.header-left .bg-lines.line-6{
		top: 475px;
		left: 89%;
	}
}
@media (min-width: 1500px){
	.header .header-content{
		padding: 50px 0;
	}
	.header-left .bg-lines.line-1{
		top: 190px;
		left: 23%;
	}
	.header-left .bg-lines.line-2{
		top: 200px;
		left: 48%;
	}
	.header-left .bg-lines.line-3{
		top: 205px;
		left: 89%;
	}
	.header-left .bg-lines.line-4{
		top: 600px;
		left: 10%;
	}
	.header-left .bg-lines.line-5{
		top: 610px;
		left: 30%;
	}
	.header-left .bg-lines.line-6{
		top: 620px;
		left: 80%;
	}
	.header-left .logo img{
		margin-bottom: 50px;
		margin-left: 88px;
		width: 400px;
	}
	.header-left .menu-sign{
		margin-left: 102px;
	}
	.header-left .menu{
		margin-bottom: 50px;
	}
	.header-left .menu li+li{
		margin-left: 35px;
	}
	.header .header-right .main-title{
		margin-bottom: 65px;
		font-size: 36px !important;
	}
	.header-right .contacts{
		margin-left: 31%;
		margin-bottom: 70px;
	}
}

/*Clients*/

.clients{
	position: relative;
}
.clients-content{
	color: #fff;
	position: absolute;
	width: 100%;
	padding: 35px 0 55px;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 10;
	overflow: hidden;
}
.clients h2{
	letter-spacing: 2px;
	margin-bottom: 75px;
}
.clients .row-second img{
	margin-top: -10px;
}
.clients a{
	display: block;
}
.clients img{
		height: 75px;
	}
.clients .bg-lines{
	position: absolute;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-size: 100% 2px;
	height: 2px;
}
.clients .bg-lines.line-1{
	width: 100px;
	background-image: url('../img/base/gradient-gray-3.gif') ;
	/*border-top: 2px solid #fff;*/
	top: 52px;
	left: 20%;
}
.clients .bg-lines.line-2{
	width: 75px;
	/*border-top: 1px solid #fff;*/
	background-image: url('../img/base/gradient-gray-2.gif') ;
	top: 26px;
	left: 40%;
}
.clients .bg-lines.line-3{
	width: 20px;
	/*border-top: 4px solid #fff;*/
	background-image: url('../img/base/gradient-gray-1.gif') ;
	top: 50px;
	left: 80%;
}
.clients .bg-lines.line-4{
	top: 97%;
	left: 65%;
	left: 66%;
	width: 100px;
	/*border-top: 2px solid #fff;*/
	background-image: url('../img/base/gradient-gray-1.gif') ;
}
@media (max-width: 767px){
	.clients img{
		margin-bottom: 30px;
	}
	.clients .bg-lines{
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 1499px){
	.clients .bg-lines.line-1{
		left: 5%;
	}
	.clients .bg-lines.line-4{
		left: 75%;
	}
}

/*Video-types*/

.video-types{
	background: url('../img/base/old_moon.png');
	padding: 40px 0 55px;
	position: relative;
}
.video-types .container{
	position: relative;
	z-index: 1;
}
.video-types .sep-line{
	background: url('../img/base/pattern-2.png');
	height: 7px;
	width: 100%;
	position: absolute;
	top: 25px;
}
.video-types .sep-line.line-bottom{
	top: 100%;
	margin-top: -25px;
}
.video-types .lines img{
	position: absolute;
	z-index: 0;
}
.video-types .lines img:nth-child(1){
	top: 20%;
	left: 0;
}
.video-types .lines img:nth-child(2){
	left: 0;
	top: 50%;
}
.video-types .lines img:nth-child(3){
	left: 0;
	top: 80%;
}
.video-types .lines img:nth-child(4){
	right: 0;
	top: 30%;
}
.video-types .lines img:nth-child(5){
	right: 0;
	bottom: 10%;
}
.video-types .v-type-wrap{
	width: 180px;
	height: 180px;
	position: relative;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border: 1px solid #666;
	margin: 85px auto 67px auto;
	padding: 2px 0 0 2px;
}
.video-types .v-type-wrap figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	border: 1px solid #666;
}
.video-types .v-type-wrap figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.5;
}
.video-types .v-type-wrap figure:hover img{
	opacity: 1;
}
.video-types .v-type-wrap figure.effect-julia img.hovered {
	opacity: 1;
	-webkit-transform: scale3d(1.1,1.1,1);
	-moz-transform: scale3d(1.1,1.1,1);
	-o-transform: scale3d(1.1,1.1,1);
	-ms-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}
.video-types .v-type-wrap img{
	width: 180px;
	height: 180px;
}
.video-types .v-type-title{
	color: #fff;
	position: absolute;
	top: 145px;
	left: 7px;
	width: 100%;
	cursor: pointer;
}
.video-types .v-type-title h5{
	display: block;
	z-index: 1000;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
}
.video-types .v-type-title span{
	width: 5px;
	height: 5px;
	margin-right: 5px;
	display: inline-block;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.video-types p{
	line-height: 24px;
	font-size: 16px;
}
.video-types .booking-link{
	color: #000;
	font-size: 37px;
	border-bottom: 2px solid #000
}
.video-types .booking-link:hover{
	border-bottom: 2px solid transparent;
	color: #555;
	text-decoration: none;
}
@media (max-width: 767px){
	.video-types .v-type-title h5{
		max-width: 200px;
	}
}
@media (min-width: 1200px){
	.video-types .v-type-title h5{
		max-width: 50%;
	}
}
@media (min-width: 1500px){
	.video-types p{
		line-height: 38px;
		margin-bottom: 5px;
		font-size: 18px;
	}
}
@media (max-width: 1499px){
	.video-types .booking-link{
		font-size: 25px !important;
	}
	.video-types p {
		line-height: 20px;
		font-size: 15px;
	}
}
/*Our-favourites*/
.our-favourites{
	position: relative;
}
.our-favourites-content{
	padding: 45px 0 40px;
	position: absolute;
	z-index: 10;
	width: 100%;
	top: 0;
	left: 0;
}
.our-favourites a{
	display: block;
}
.our-favourites .work-wrap{
	width: 260px;
	height: 260px;
	position: relative;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
	margin-top: 130px;
}
.our-favourites .work-wrap+.work-wrap{
	margin-left: 135px
}
.our-favourites .work-wrap img{
	width: 100%;
}
.our-favourites .work-wrap figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}
.our-favourites .work-wrap figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.5;
}
.our-favourites .work-wrap figure:hover img{
	opacity: 1;
}
.our-favourites .more-link{
	color: #58d6fb;
	border-bottom: 2px solid #58d6fb;
	font-size: 25px;
	display: inline-block;
	margin-top: 108px;
	line-height: 29px;
	text-decoration: none;
}
.our-favourites .more-link:hover{
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
@media (min-width: 1500px){
	.our-favourites .second-row, .our-favourites .third-row{
		margin-top: -190px;
	}
}
@media (max-width: 1499px){
	.our-favourites .first-row {
		margin-top: 115px;
	}
	.our-favourites .work-wrap{
		margin-top: 152px;
		width: 180px;
		height: 180px;
	}
	.our-favourites .work-wrap+.work-wrap{
		margin-left: 110px
	}
	.our-favourites .more-link{
		margin-top: 60px;
	}
	.our-favourites h1{
		margin: 0;
	}
}
@media (max-width: 1499px){
	.our-favourites .first-row{
		margin-top: 150px;
	}
	.our-favourites .work-wrap+.work-wrap{
		margin-left: 100px
	}
	.our-favourites .work-wrap{
		margin-top: -30px;
		width: 150px;
		height: 150px;
	}
}
@media (max-width: 991px){
	.our-favourites .first-row{
		margin-top: 130px;
	}
}
@media (max-width: 767px){
	.our-favourites .work-wrap+.work-wrap{
		margin-left: 55px;
	}
	.our-favourites .work-wrap{
		margin-top: -19px;
		width: 100px;
		height: 100px;
	}
}
@media (max-width: 479px){
	.our-favourites .first-row{
		margin-top: 0;
	}
	.our-favourites .work-wrap+.work-wrap{
		margin-left: 0;
	}
	.our-favourites .work-wrap{
		margin-top: 90px;
		width: 180px;
		height: 180px;
	}
}

/*Order-Instruction*/

.order-instr{
	background: url('../img/base/old_moon.png');
	padding: 25px 0;
}
.order-instr h1{
	margin-bottom: 60px;
}
.order-instr .instr p{
	width: 150px;
	font-size: 15px;
	display: block;
	text-align: center;
	margin: 13px auto;
}
.order-instr .instr span{
	color: #fff;
	display: inline-block;
	background: #2eb36b;
	border-radius: 50%;
	padding: 1px 6px;
	line-height: 16px;
	position: absolute;
	top: -6px;
	left: -28px;
}
.order-instr .line{
	border-bottom: 2px solid #555;
	width: 150px;
	position: absolute;
	top: 90px;
	left: 70%;
}
.order-instr .first-row .line:after{
	content: '';
	background: #2eb36b;
	border-radius: 50%;
	display: block;
	padding: 2px;
	margin-left: 101%;
	margin-bottom: -2px;
}
.order-instr .first-row{
	margin-bottom: 25px;
}

/*@media (min-width: 992px){
	.order-instr .first-row .instr-wrap:nth-child(even){
		margin-top: 165px;
	}
}*/
@media (min-width: 1200px){
	.order-instr .first-row .instr-wrap:nth-child(even){
		margin-top: 165px;
	}
	.order-instr .first-row .instr-wrap:nth-child(odd) .line{
		-webkit-transform: rotate(40deg);
		-moz-transform: rotate(40deg);
		-o-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		transform: rotate(40deg);
	}
	.order-instr .first-row .instr-wrap:nth-child(odd) .line span{
		-webkit-transform: rotate(-40deg);
		-moz-transform: rotate(-40deg);
		-o-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		transform: rotate(-40deg);
	}
	.order-instr .first-row .instr-wrap:last-child span{
		top: 15px;
		left: 24%;
	}
	.order-instr .first-row .instr-wrap:nth-child(even) .line{
		-webkit-transform: rotate(-40deg);
		-moz-transform: rotate(-40deg);
		-o-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		transform: rotate(-40deg);
		left: 60%;
		top: -78px;
	}
	.order-instr .first-row .instr-wrap:nth-child(even) .line span{
		-webkit-transform: rotate(40deg);
		-moz-transform: rotate(40deg);
		-o-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		transform: rotate(40deg);
	}
	.order-instr .second-row .line{
		width: 255px;
		top: 30px;
		left: 82%;
	}
	.order-instr .second-row .instr-wrap:last-child span{
		top: 22px;
		left: 20%;
	}
	
}
@media (min-width: 1500px){
	.order-instr .second-row .line{
		width: 295px;
	}
	.order-instr .instr p{
		font-size: 17px;
	}
}
@media (min-width: 768px) and (max-width: 1199px){
	.order-instr .first-row .instr-wrap:nth-child(odd) .line{
		-webkit-transform: rotate(40deg);
		-moz-transform: rotate(40deg);
		-o-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		transform: rotate(40deg);
	}
	.order-instr .first-row .instr-wrap:nth-child(odd) .line span{
		-webkit-transform: rotate(-40deg);
		-moz-transform: rotate(-40deg);
		-o-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		transform: rotate(-40deg);
	}
	.order-instr .first-row .instr-wrap:nth-child(even){
		margin-top: 105px;
	}
	.order-instr .line {
		width: 80px;
	}
	.order-instr .first-row .instr-wrap:nth-child(even) .line {
		-webkit-transform: rotate(-40deg);
		-moz-transform: rotate(-40deg);
		-o-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		transform: rotate(-40deg);
	}
	.order-instr .first-row .instr-wrap:nth-child(even) .line span {
		-webkit-transform: rotate(40deg);
		-moz-transform: rotate(40deg);
		-o-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		transform: rotate(40deg);
	}
}
@media (min-width: 991px) and (max-width: 1199px){
	.order-instr .line {
		top: 65px;
		left: 125px;
	}
	.order-instr .first-row .instr-wrap:nth-child(even) .line {
		left: 110px;
		top: -50px;
	}
	.order-instr .instr-wrap:last-child span{
		top: 10px;
		left: 30px;
	}
	.order-instr .second-row .line{
		width: 190px;
	}
	.order-instr .second-row .instr-wrap:first-child .line{
		top: 20px;
		left: 145px;
	}
	.order-instr .second-row .instr-wrap:last-child span{
		left: 20px;
	}
	
}
/*@media (min-width: 992px) and (max-width: 1199px){
	
	.order-instr .first-row .instr-wrap:last-child span {
		top: 4px;
		left: 30px;
	}
	.order-instr .second-row .line {
		width: 190px;
		left: 145px;
		top: 27px;
	}
	.order-instr .second-row .instr-wrap:last-child span {
		left: 20px;
		top: 20px;
	}
}*/
/*@media (max-width: 991px){
	.order-instr .first-row .line,
	.order-instr .second-row .line{
		width: 0;
		top: 10px !important;
		left: 145px;
	}
	.order-instr .first-row .line:after,
	.order-instr .second-row .line :after{
		display: none !important;
	}
	.order-instr .first-row .instr-wrap:last-child span,
	.order-instr .second-row .instr-wrap:last-child span{
		top: 10px;
		left: 125px;
	}
}*/
@media (min-width: 768px) and (max-width: 991px){
	.order-instr .instr p{
		margin-left: -30%;
	}
	.order-instr .first-row .instr-wrap:nth-child(odd) .line{
		left: 115px;
		top: 60px;
	}
	.order-instr .first-row .instr-wrap:nth-child(even) .line{
		top: -55px;
		left: 110px;
	}
	.order-instr .instr-wrap:nth-child(4) .instr{
		text-align: left !important;
	}
	.order-instr .instr-wrap:nth-child(4) .line{
		left: 60px !important;
		width: 80px;
	}
	.order-instr .first-row .instr-wrap:last-child span {
		top: 5px;
		left: 10px;
	}
	.order-instr .second-row .instr-wrap:first-child .line{
		top: 20px;
		left: 135px;
		width: 220px;
	}
	.order-instr .second-row .instr-wrap:last span{
		top: 13px;
		left: -5px;
	}
}
@media (max-width: 767px){
	.order-instr{
		padding: 25px 0;
	}
	.order-instr h1{
		margin-bottom: 50px;
	}
	.order-instr .first-row .line,
	.order-instr .second-row .line{
		left: 60px;
		width: 0;
		top: 20px;
	}
	.order-instr .first-row .line:after,
	.order-instr .second-row .line:after{
		content: none;
	}
	.order-instr .first-row .instr-wrap:last-child span,
	.order-instr .second-row .instr-wrap:last-child span{
		left: 33px;
		top: 20px;
	}
	.order-instr .instr{
		text-align: left !important;
		margin-left: 60px;
		margin-bottom: 20px;
	}
	.order-instr .instr p{
		text-align: left !important;
		width: auto;
	}
	.order-instr .first-row{
		margin-bottom: 0;
	}
}

/*Gallery*/

.gallery{
	border-top: 20px solid #fff;
	border-bottom: 20px solid #fff;
	background: #fff;
	/*background: url('../img/base/old_moon.png');*/
}
.gallery .images{
	width: 90%;
	margin: 0 auto;
}
.gallery .img-wrap{
	width: 11.11%;
	display: inline-block;
}
.gallery .img-wrap img{
	width: 100%;
}
.gallery .img-wrap:hover{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	position: relative;
	z-index: 100;
	-webkit-transition: -webkit-transform 0.7s ease-out;
	-moz-transition: -moz-transform 0.7s ease-out;
	-o-transition: -o-transform 0.7s ease-out;
	-ms-transition: -ms-transform 0.7s ease-out;
	transition: transform 0.7s ease-out;
}

@media (max-width: 479px){
	.gallery .images{
		width: 80%;
	}
	.gallery .images .img-wrap {
		width: 50%;
	}
}
@media (min-width: 480px) and (max-width: 767px){
	.gallery .images{
		width: 85%;
	}
	.gallery .images .img-wrap {
		width: 33.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.gallery .images{
		width: 85%;
	}
	.gallery .images .img-wrap{
		width: 16.66%;
	}
}
@media (min-width: 992px) and (max-width: 1599px){
	.gallery .images .img-wrap{
		width: 16.66%;
	}
}

/*Why Us*/

.why-us{
	background: url('../img/base/old_moon.png');
	padding: 70px 0 20px;
	position: relative;
}
.why-us h1{
	font-size: 60px !important;
	text-align: center;
}
.why-us .why-item{
	position: relative;
	float: left;
	height: 140px;
}

.why-us .why-item p{
	position: relative;
	z-index: 2;
	line-height: 24px;
	margin-left: 70px;
}
.why-us .why-item .number{
	position: absolute;
	top: -35px;
	left: 0;
	z-index: 1;
	border-radius: 50%;
	background: #58dbfb;
	font-size: 75px;
	font-family: 'Exo2.0-ExtraBold';
	line-height: 81px;
	width: 90px;
	text-align: center;
	padding-bottom: 9px;
}
.why-us .second-row{
	margin-top: 90px;
}
@media (max-width: 1199px){
	.why-us .second-row{
		margin-top: 60px;
	}
}
@media (min-width: 1500px){
	.why-us .first-row .why-item:nth-child(odd){
		margin-top: 160px;
	}
	.why-us .second-row .why-item:nth-child(even){
		margin-top: 160px;
	}
	.why-us .why-item .number{
		font-size: 100px;
		line-height: 100px;
		width: 110px;
	}
}
@media (max-width: 1023px){
	.why-us h1{
		top: 0;
		left: 0;
		position: absolute;
		font-size: 26px !important;
		width: 100%;
	}
	.why-us .second-row{
		margin-top: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-moz-box-direction: column;
		-webkit-box-direction: column;
		-ms-flexbox-direction: column;
		flex-direction: column;
	}
	.why-us .why-item{
		margin-bottom: 30px;
	}
	.why-us .why-item:nth-child(1){
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
	}
	.why-us .why-item:nth-child(2){
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
}
@media (min-width: 992px) and (max-width: 1499px){
	/*.why-us .first-row .why-item:nth-child(3){
		margin-top: 40px;
	}
	.why-us .second-row .why-item:nth-child(1){
		margin-bottom: 40px;
	}*/
	.why-us .first-row .why-item:nth-child(odd){
		margin-top: 100px;
	}
	.why-us .second-row .why-item:nth-child(even){
		margin-top: 100px;
	}
	.why-us .why-item p{
		margin-left: 55px;
	}
}
@media (max-width: 767px){
	.why-us{
		padding-bottom: 0;
	}
	.why-us .first-row{
		margin-bottom: 0;
		margin-top: 20px;
	}
	.why-us .second-row{
		margin-top: 0;
	}
	.why-us .why-item{
		margin-bottom: 30px;
	}
}
@media (max-width: 479px){
	.why-us .why-item{
		margin-bottom: 50px;
	}
}

/*Request*/

.partner-request{
	position: relative;
	box-shadow: inset 0 15px 25px rgba(0, 0, 0, 0.4), inset 0 -15px 25px rgba(0, 0, 0, 0.4);
	border-bottom: 22px solid #fff;
	border-top: 22px solid #fff;
}
.partner-request-content{
	/*line-height: 25px;*/
	padding: 20px 0 50px 0;
	position: absolute;
	z-index: 100;
	opacity: 1;
	width: 100%;
	top: 0;
	left: 0;
}
.partner-request h1{
	margin-bottom: 150px;
}
.partner-request .request-text{
	width: 350px;
	margin: 0 auto;
}
.partner-request .form-block{
	width: 258px;
	float: right;
	margin-top: -15px;
}
@media (max-width: 767px){
	.partner-request-content{
		padding: 40px 0;
	}
	.partner-request h1{
		margin-bottom: 50px;
	}
	.partner-request .request-text{
		width: 300px;
	}
	.partner-request .form-block{
		float: none;
		margin: 20px auto;
	}
}
@media (min-width: 768px){
	.partner-request .request-wrap{
		width: 730px;
		margin: 0 auto;
	}
	.partner-request .request-text{
		display: inline-block;
		text-align: left;
		float: left;
	}
	.partner-request .form-block{
		display: inline-block;
	}
}
@media (min-width: 992px){
	.partner-request-content{
		padding: 50px 0 90px;
	}
}
/*Map*/

.map {
	border-top: 33px solid #fff;
	box-shadow: 0px -15px 30px 0px rgba(95, 98, 98, 0.3);
	position: relative;
}
.map .info{
	position: absolute;
	text-align: center;
	top: 0;
	left: 50%;
	margin-left: -285px;
}
.map .info-place{
	margin: 0 auto;
	width: 570px;
	border-top: 285px solid #fff;
	border-left: 285px solid transparent; 
	border-right: 285px solid transparent;
}
.map .info-text{
	position: absolute;
	top: -45px;
	text-align: center;
	width: 100%;
}
.map .details{
	width: 270px;
	margin: 0 auto;
}
.map .details p{
	margin-bottom: 5px;
}
.map .details .red-text{
	color: #e05750;
	text-transform: uppercase;
}
.map .details .signature{
	color: #e05750;
}
.map .info .address{
	position: absolute;
	bottom: -55px;
	left: 50%;
	margin-left: 20px;
	width: 195px;
	text-align: left;
	font-weight: bold;
}
@media (max-width: 350px){
	.map .info-text{
		width: 320px;
		left: 50%;
		margin-left: -160px;
	}
	.map .info .address{
		left: 32%;
	}
}

/*Social*/

.social{
	background: url('../img/base/old_moon.png');
	padding: 15px 0 45px;
}
.social .social-link{
	text-align: center;
}
.social .social-link+.social-link{
	margin-top: 30px;
}
.social p{
	max-width: 879px;
	margin: 25px auto 35px;
	font-size: 23px;
	line-height: 37px;
	letter-spacing: 0.06em;
}
@media (max-width: 767px){
	.social p{
		font-size: 18px !important;
		line-height: 25px;
	}
}
@media (min-width: 768px){
	.social .links-wrap{
		max-width: 770px;
		margin: 0 auto;
	}
	.social .social-link{
		display: inline-block;
		float: left;
	}
	.social .social-link:last-child{
		float: right;
	}
	.social .social-link+.social-link{
		margin-top: 0;
	}
}
/*Footer*/
.footer{
	padding-bottom: 30px;
}
.footer h3{
	line-height: 35px;
	margin-bottom: 20px;
	text-align: center;
}
.footer a{
	display: block;
}
.footer .phone{
	font-size: 25px;
	margin-top: 10px;
}
@media (min-width: 1500px){
	.footer h3{
		margin-left: 395px;
		text-align: left;
		line-height: 50px;
	}
	.footer img{
		margin-left: 235px;
	}
	.footer .phone{
		font-size: 37px;
		margin-right: 70px;
		margin-top: 0;
	}
}
@media (max-width: 479px){
	.footer h3{
		font-size: 25px !important;
		line-height: 30px;
	}
	.footer .phone{
		float: none !important;
		display: block;
		margin: 5px auto 20px;
		text-align: center;
	}
	.footer a{
		text-align: center;
	}
	.footer img{
		width: 200px;
	}
}
