<section class="gallery clearfix" id="gallery" video-slider>
<!-- 	<div class="container" slider-video>
		<div class="video-place">
			<div youtube-video video-url="selected"></div>
		</div>
	</div> -->
	<div class="images">
		<!-- <div id="iview">
			<div ng-repeat="photo in photos | limitTo:24" youtube-video video-url="photo.videourl"></div>
		</div> -->
				<!-- <a class="fancybox" rel="gallery" href="{{photo.videourl}}" fancy-box><img ng-src="{{photo.img}}"></a> -->
		<div class="grid">
			<figure class="effect-julia" ng-repeat="photo in photos | limitTo:24">
				<img ng-src="{{photo.img}}" ng-click="setVideo(photo.videourl, $index)" data-target="#modal-video" data-toggle="modal">
			</figure>
		</div>
	</div>
</section>