<section class="our-favourites" id="our-favourites" block-height>
	<div class="bg-fotorama fotorama">
		<img src="img/base/keypad.jpg">
	</div>
	<div class="our-favourites-content content">
		<div class="container text-center">
			<h1 class="white"><strong>Наши любимые работы</strong></h1>
			<div class="first-row">
				<div class="work-wrap">
					<figure class="effect-julia" ng-click="openSlider()">
						<img ng-src="{{projects[0].img}}">
					</figure>
				</div>
				<div class="work-wrap">
					<figure class="effect-julia" ng-click="openSlider()" >
						<img ng-src="{{projects[1].img}}">
					</figure>
				</div>
				<div class="work-wrap">
					<figure class="effect-julia" ng-click="openSlider()">
						<img ng-src="{{projects[2].img}}">
					</figure>
				</div>
			</div>
			<div class="second-row">
				<div class="work-wrap">
					<figure class="effect-julia" ng-click="openSlider()">
						<img ng-src="{{projects[3].img}}">
					</figure>
				</div>
				<div class="work-wrap">
					<figure class="effect-julia" ng-click="openSlider()">
						<img ng-src="{{projects[4].img}}">
					</figure>
				</div>
			</div>
			<div class="third-row">
				<div class="work-wrap">
					<figure class="effect-julia" ng-click="openSlider()">
						<img ng-src="{{projects[5].img}}">
					</figure>
				</div>
			</div>
			<a href="http://www.youtube.com/user/ROOM201FilmCompany/videos" class="more-link" target="blank">Больше работ</a>
		</div>
	</div>
	<ng-include src="'include/modal-video.html'"></ng-include>
</section>
